.header {
    position: relative;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}


.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
  }

.header__content {
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
}

.header__boxchannel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.header__channel {
  object-fit: contain;  
}

.header__frase {
  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 4rem;
}

.header__frase--span {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  padding: 13px;
  font-weight: bold;
}

.header__faixa {
  width: 70%;
  max-width: 700px;
  height: 5px;
  margin: 2.5rem 0rem 2.5rem 0rem;
  background: var(--divider-bg-color);
}

.header__oferta {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.header__oferta--preco {
  font-family: "Quicksand", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.5rem;
}

.header__oferta--mes {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
  font-weight: lighter;
}

.header__botao {
  background: var(--btn-bg-color-gradient);
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
  background-size: 250%;
  margin-top: 2.5rem;
}

.header__botao:hover {
  background: transparent;
  border: solid 3px #b536f6;  
}

.header__botao--animacao {
  animation: wiggle 2.2s linear infinite;
}

.header__paragrafo {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: small ;
  font-weight: lighter;
  max-width: 250px;
  
  margin-top: 2.5rem;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes wiggle {
    0%, 10% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%, 100% {
      transform: rotate(0deg);
    }
}