.header {
    position: relative;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}


.header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 40px;
    padding: 0 40px;
  }

  .header__canais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    gap: 24px;
  }

  .header__canal {
    object-fit: contain;
  }

  .header__titulo {
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    line-height: 45px;
  }

  .header__titulo span{
    font-weight: bold;
    font-size: 3rem;
  }

  .header__divide {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
  }

  .header__oferta {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
  }

  .header__preco {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .header__button {
    animation: wiggle 2.2s linear infinite;
  }

  .texto__pequeno {
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
    text-align: center;
  }


@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes wiggle {
    0%,
    10% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%,
    100% {
      transform: rotate(0);
    }
  }

  @media screen and (max-width: 480px) {
    .header {
      margin-top: 128px;
    }    
  }